<!DOCTYPE html>

<html lang = "es">

    <head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title></title>
    </head>

    <body>

        <div class="view dashboard">

            <h1>Resumen</h1>

            <div id = "DContainer">

                <div class="card">
                    <h2>Pendientes</h2>
                    <p id="pending"></p>
                </div>

                <div class="card">
                    <h2>En Proceso</h2>
                    <p id="process"></p>
                </div>

                <div class="card">
                    <h2>Ingresos Hoy</h2>
                    <p id="moneycount"></p>
                </div>

                <div class="card">
                    <h2>Ultimos Trabajos</h2>
                    <ul id="lastworks"></ul>
                </div>

                <div class="card">
                    <h2>Urgentes</h2>
                    <p id="urgent"></p>
                </div>

            </div>

        </div>

    </body>

</html>
