<!DOCTYPE html>

<html lang = "es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        
        <div class = "formcontainer">

            <h2>Nuevo Servicio</h2>

            <form>

                <div class="formislands">
                    <h3>Nombre del Cliente</h3>
                    <input id="C_name" class="m-inputs">
                </div>

                <div class="formislands">
                    <h3>Dispositivo</h3>
                    <input id="C_device" class="m-inputs">
                </div>

                <div class="formislands">
                    <h3>Modelo</h3>
                    <input id="C_model" class="m-inputs">
                </div>

                <div class="formislands">
                    <h3>Resumen</h3>
                    <textarea id="C_summary" class="m-inputs"></textarea>
                </div>

                <div class="formislands">
                    <h3>Repuestos Utilizados</h3>
                    <textarea id="C_parts" class="m-inputs"></textarea>
                </div>

                <div class="formislands">
                    <h3>Precio Final</h3>
                    <input type="number" id="C_price" class="m-inputs">
                </div>

                <div class = "btnssubcontainer">
                    <button type="button" id="btnSave" class="formbtn">Aceptar</button>
                    <button type="button" id="btnCancel" class="formbtn">Cancelar</button>
                </div>

            </form>

        </div>

    </body>

</html>