<!DOCTYPE html>

<html lang = "es">

    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        
        <div class = "formcontainer">

            <form>

                <div class="formtitle">
                    <h2>Nuevo Producto</h2>
                </div>

                <div class="formislands">
                    <h3>Nombre</h3>
                    <input id = "I_name" class = "m-inputs" placeholder="ej.: Resistencia">
                </div>

                <div class="formislands">
                    <h3>Descripción</h3>
                    <input id = "I_des" class = "m-inputs" placeholder="ej.: Resistencia de 15ohms">
                </div>

                <div class="formislands">
                    <h3>Cantidad</h3>
                    <input id = "I_count" class = "m-inputs" placeholder="ej.: 45">
                </div>

                <div class="formislands">
                    <h3>Precio</h3>
                    <input id = "I_price" class = "m-inputs" placeholder="ej.: Q2.50">
                </div>

                <div class = "btnssubcontainer">
                    <button type="button" id="btnSave_I" class="formbtns">Aceptar</button>
                    <button type="button" id="btnCancel" class="formbtns">Cancelar</button>
                </div>
                
            </form>

        </div>

    </body>

</html>