<!DOCTYPE html>

<html lang = "es">

    <head>
        <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        
        <div class = "formcontainer">

            <h2>Nuevo Producto</h2>

            <form>

                <div class="formislands">
                    <h3>Nombre</h3>
                    <input id = "I_name" class = "m-inputs">
                </div>

                <div class="formislands">
                    <h3>Descripción</h3>
                    <input id = "I_des" class = "m-inputs">
                </div>

                <div class="formislands">
                    <h3>Cantidad</h3>
                    <input id = "I_count" class = "m-inputs">
                </div>

                <div class="formislands">
                    <h3>Precio</h3>
                    <input id = "I_price" class = "m-inputs">
                </div>
                
            </form>

            <div class = "btnssubcontainer">
                <button type="button" id="btnSave" class="formbtn">Aceptar</button>
                <button type="button" id="btnCancel" class="formbtn">Cancelar</button>
            </div>

        </div>

    </body>

</html>