<!DOCTYPE html>

<html lang = "es">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        
        <div class = "formcontainer">

            <form>

                <div class="formtitle">
                    <h2>Nuevo Servicio</h2>
                </div>

                <div class="formislands">
                    <h3>Nombre del Cliente</h3>
                    <input id="C_name" class="m-inputs" placeholder="ej.: Juan Pérez">
                </div>

                <div class="formislands">
                    <h3>Dispositivo</h3>
                    <input id="C_device" class="m-inputs" placeholder="ej.: Microondas">
                </div>

                <div class="formislands">
                    <h3>Marca</h3>
                    <input id="C_brand" class="m-inputs" placeholder="ej.: Sumsang">
                </div>

                <div class="formislands">
                    <h3>Modelo</h3>
                    <input id="C_model" class="m-inputs" placeholder="ej.: 5TSD53M223">
                </div>
                
                <div class="formislands_bigtext">
                    <h3>Problema</h3>
                    <textarea id="C_summary" class="m-inputs" placeholder="ej.: No enciende, cable roto"></textarea>
                </div>

                <div class="checkisland">
                    <label>
                        <input type="checkbox" id="priority">
                        Urgente
                    </label>
                </div>

                <div class = "btnssubcontainer">
                    <button type="button" id="btnSave_C" class="formbtns">Aceptar</button>
                    <button type="button" id="btnCancel" class="formbtns">Cancelar</button>
                </div>

            </form>

        </div>

    </body>

</html>