<!DOCTYPE html>

<html lang = "es">
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pendientes</title>
	</head>

	<body>

		<div class="view pending">

			<h1>En Curso</h1>

			<div class = "searchbar_container">

					<input class = "search_bar" id = "P_input" type="search" name="q" placeholder="Buscar..." aria-label="Buscar en el sitio">
					<button class = "btns_search" id = "P_search" type="submit"><img src = "assets/img/search.svg"></button>
					<button class = "btns_new" data-view="new-oncourse.html"><img src = "assets/img/circle-plus.svg"></button>

			</div>

		</div>

	</body>

</html>