<!DOCTYPE html>

<html>
	
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Pendientes</title>
	</head>

	<body>

		<div class="view pending">

			<h1>En Curso</h1>

			<div class = "searchbar_container">
				<form>
					<input class = "crud_inputs" id = "P_input" type="search" name="q" placeholder="Buscar..." aria-label="Buscar en el sitio">
					<button class = "btns_search" id = "P_search" type="submit"><img src = "assets/img/search.svg"></button>
				</form>
			</div>

			<div class = "CRUDsubContainer">

					<button class="crudbtns" data-view="new-oncourse.html">
						<h2>Nuevo</h2>
					</button>

			</div>

		</div>

		<script src = "../js/ui.js"></script>

	</body>

</html>