<!DOCTYPE html>

<html lang = "es">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

    <body>

        <div class = "view reports">

            <h1>Reportes</h1>

            <div class = "r-btnscontainer">
                <button class = "r-btns" id = "Report-Edit">Editar Plantilla</button>
                <button class = "r-btns" id = "Print-Report">Reportes Antiguos</button>
            </div>


            <h2>Últimos Reportes</h2>

            <div class = "reports-container">

                <div class = "pdf-card"></div>
                <div class = "pdf-card"></div>
                <div class = "pdf-card"></div>
                <div class = "pdf-card"></div>
                <div class = "pdf-card"></div>
                <div class = "pdf-card"></div>

            </div>
        </div>

    </body>

</html>
